.HomePage {
}

.profile {
  margin-top: 20px;
  padding: 20px;
  border: var(--border-primary);
  border-radius: 30px;
  background: var(--bg-accent-color);

  .referrals {
    white-space: nowrap;

    .flex1 {
      flex: 1;
    }
  }

  .deposit {
    cursor: pointer;
    flex: 1;

    svg {
      height: 15px;
      width: 15px;
      margin-right: 6px;
    }
  }
}

.buttons {
  margin-top: 40px;

  .buttonOutlined {
    padding: 16px;
    border: var(--border-primary);
    border-radius: 12px;

    .buttonText {
      p {
        font-weight: 500;
        line-height: 20px;
      }

      span {
        color: var(--text-secondary-color);
        font: var(--font-s);
        line-height: 20px;
      }
    }

    .chevron {
      margin-left: auto;
    }
  }
}
