.App {
  position: relative;
  font: var(--font-m);
  color: white;
  min-height: 100vh;
}

.content {
  background: var(--bg-primary-color);
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.page {
  overflow: scroll;
  height: 100%;
  padding: var(--header-height) 20px calc(var(--navbar-height) + 20px);
}