.App {
  font: var(--font-m);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  background: var(--bg-primary-color);
  height: 638px;
  width: 560px;
  margin: auto;
}

.page {
  margin-top: 40px;
}