.SettingsPage {
  height: 100%;
}

.profile {
  margin-top: 40px;
  padding: 20px;
  border: var(--border-primary);
  border-radius: 12px;

  .profileRightSide {
    flex: 1;
  }
}

.infoText {
  margin-top: 20px;
}

.settings {
  margin-top: 40px;
  padding: 20px;
  border: var(--border-primary);
  border-radius: 12px;

  .settingsItem {
    white-space: nowrap;
    width: 100%;
  }
}

.flexEnd {
  margin-top: auto;
}
